

.cont-documentacion div img{
    width: 250px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}

.cont-documentacion div{
    padding: 2rem;
}

.cont-documentacion{
    background-color: #ffffff7c;
}