body{
    background: linear-gradient(175deg,rgb(47, 197, 247),rgb(155, 228, 252),#b9e5fa,#fff);
    /*background: linear-gradient(160deg,rgb(255, 182, 139),rgb(255, 244, 149),#7cd6ff,#fff);*/
    background: linear-gradient(137deg, #04142c, #0c4291, #3181f7);
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    min-width: 355px;
    min-height: 100vh;
}


#root{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}


.container-principal{
    width: 100%;
    position: relative;
}

/*Estilos para modo oscuro*/
.bg-body-dark{
    background: linear-gradient(137deg, #04142c, #0c4291, #3181f7) !important;
}

.container-keyboard{
    background-color: #ffffff40 !important;
}

.tecla-dark{
    background-color: #e9ecef !important;
}

.container-keyboard-dark{
    background-color: #ffffff40 !important;
}

.input-button-dark{
    background-color: #ffffff5e !important;
}

.font-color-dark{
    background-color: #fff !important;
}

.action-table-dark{
    background-color: rgb(46, 45, 45) !important;
    color: white !important;
}