body{
    background: linear-gradient(165deg,rgb(6, 162, 213),#94cde7,#fff);
    font-family: "Manrope", sans-serif;
    font-weight: 700;
}

#root{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}


.container-principal{
    width: 100%;
    position: relative;
}



