.nav-principal{
    /*border: 2px black solid;*/
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 980px !important;
    padding-bottom: 1rem;
    padding-top: 2rem;
    align-items: center;
}

.container-e-header{
    padding: 10px;
    position: relative;
    height: 100%;
    align-items: center;
}

.container-e-header img{
    margin-left: 1rem;
    height: auto;
    max-width: 60px;
}


