.container-keyboard{
    border-radius: 24px;
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    box-shadow: -16px 12px 44px 0px rgba(0, 0, 0, 0.15);
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 980px !important;
    padding: 0.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}


.tittle-keyboard{
    font-family: "Manrope", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    max-width: 900px !important;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 550;
    --tw-text-opacity: 1;
    color: rgb(27 27 27 / var(--tw-text-opacity));
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    text-align: center;
}


.container-input-keyboard{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.container-input-keyboard input, .container-input-keyboard button{
    border: 1px solid transparent;
    min-height: 60px;
    border-radius: 10px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 400;
    font-family: inherit;
    background-color: #b3b3b346;
    color: rgb(95, 95, 95);
    font-size: 1.3rem;
}

input {
    border: none;
    outline: none;
    text-overflow: ellipsis;
}

.container-input-keyboard button{
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-comentario-keyboard{
    width: 95%;
    padding: 0.1rem;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    background-color: rgba(255, 255, 255, 0);
}

.comentario-keyboard{
    margin: auto;
}

.btn-generar-tabla{
    background-color: #1a1a1a;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.3rem;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0.6em 1.2em;
    font-family: inherit;
    margin-top: 0.5em;
    margin-bottom: 0.8rem;
    width: 95%;
}

.container-teclas-keyboard{
    width: 100%;
    padding: 0.1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0);
}

.tecla-keyboard {
    border: 1px solid transparent;
    min-height: 60px;
    border-radius: 10px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #9d9d9d2b;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0.5em;
    position: relative;
}

.col-2-my{
    width: 14.5%;
}

.btn-yellow{
    background-color: #f5ecb1 !important;
}

.btn-red{
    background-color: #f8baba !important;
}


.descripcion-tecla-keyboard{
    position: absolute;
    font-size: 0.8rem;
    font-weight: 500;
    color: #000000;
    margin-right: 0.5rem;
    margin-bottom: 0.1rem;
    right: 0;
    bottom: 0;
}

@media (max-width: 768px){
    .container-input-keyboard input{
        font-size: 1em;
    }

    .descripcion-tecla-keyboard{
        position: absolute;
        font-size: 0.5rem;
        font-weight: 500;
        color: #000000;
        margin-right: 0.2rem;
        margin-bottom: 0.1rem;
        right: 0;
        bottom: 0;
    }
    
}



@media (min-width: 640px){
    .tittle-keyboard{
        font-size: 2rem !important;
        line-height: 2.5rem !important;
    }
    
}

@media screen and (min-width: 768px){
    .tittle-keyboard{
        font-size: 2.5rem !important;
        line-height: 3rem !important;
    }
    
}

@media screen and (min-width: 992px){
    .tittle-keyboard{
        font-size: 2.7rem !important;
        line-height: 3rem !important;
    }
}